<h1>Edit Book</h1>
 <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :author %>
    <%= f.input :booktype %>
    <%= f.input :genre %>
    <%= f.input :classification %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>