<% @books.each do |book| %>
 <div class="booyah-box col-10 offset-1">
   <h1><%= link_to book.title, book_path(book) %></h1>
   <h3><%= book.year %></h3>
   <h3><%= book.author %></h3>
   <h3><%= book.booktype %></h3>
   <h3><%= book.genre %></h3>
   <h3><%= book.classification %></h3>
 </div>

 <% end %>