<h1>Bookcase</h1>

<%= form_tag books_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<table>
 <thread>
  <tr>
   <th>Title</th>
   <th>Year</th>
   <th>Booktype</th>
   <th>Genre</th>
   <th>Classification</th>
  </tr>
 </thread>

 <tbody>
   <% @books.each do |book| %>
    <tr>
     <td><%= link_to book.title.titleize, book_path(book) %></td>
     <td><%= book.year %></td>
     <td><%= book.booktype.titleize %></td>
     <td><%= book.genre.titleize %></td>
     <td><%= book.classification.titleize %></td>
     <td><%= link_to 'Show', book %></td>
     <td><%= link_to 'Edit', edit_book_path(book) %></td>
     <td><%= link_to 'Destroy', book, method: :delete, data: {confirm: 'Are you sure?' } %></td>
   </tr>
  <% end %>
 </tbody>
</table>

<br>

<div class="center-block">
  <%= paginate @books %> 
</div>
          

<br>

<%= link_to 'New Book', new_book_path %>
