<h1>New Book</h1>
 <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :author %>
    <%= f.select :booktype, Book.booktypes.sort, include_blank: true, prompt: 'Choose Book Type' %>
    <%= f.input :genre %>
    <%= f.select :classification, Book.classifications.sort, include_blank: true, prompt: 'Choose Classification' %>
    <%= f.submit 'Create Book', class: 'btn btn-primary' %>
  <% end %>
