<h1>New Book</h1>
 <%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :author %>
    <%  options_from_collection_for_select(Book.booktypes, "index", "booktype") %>
    <%= f.input :genre %>
    <%  options_from_collection_for_select(Book.classifications, 'index', 'classification') %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
